@page "/logout"
@inject YourUserNamespace.User user
@inject NavigationManager Navigation

<h3>Wylogowywanie...</h3>

@code {
    protected override void OnInitialized()
    {
        user.Logout();
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}
