@page "/chat"
@rendermode InteractiveServer

<PageTitle>Chat</PageTitle>

@code {
    private string username = "my user";
    private string chat_string = "asdf";
    private string[] lines = ["asdfasdfasdfasdfasdfasdffsda", "asdfasdf", "asdfasdf"];


    private void Send()
    {
        Console.WriteLine("asdf");   
    }
}

@foreach(var line in lines)
{
    <div>line</div>
}


<button class="btn btn-primary" @onclick="Send">Send</button>
