@page "/chat"
@rendermode InteractiveServer
@inject YourUserNamespace.User user
@using ClientCommunication
@using System.Text.Json
@inject NavigationManager Navigation
@using ChatMessageNamespace


<PageTitle>Chat</PageTitle>

@if (!user.CheckUserName()){
    Navigation.NavigateTo("/login");
}

@code {
    private System.Net.IPAddress ipaddress;
    private string username = "my user";
    private string chat_string = "asdf";
    private string ServerResponse = "";
    private List<ChatMessage> Messages = new();

    private async Task SendMessageToServer()
    {
        ServerResponse = await ClientSocket.SendMessage("", 1234, username, chat_string);
        if (!string.IsNullOrWhiteSpace(ServerResponse))
        {
            var message = JsonSerializer.Deserialize<ChatMessage>(ServerResponse);
        }
    }
    
}

<link rel="stylesheet" href="css.css">
<div class="chat-container">
    <div class="chat-box">
        <h3>Czat 1</h3>
        <div class="messages" id="chat1"></div>
        <input type="text" id="input1" placeholder="Wpisz wiadomość...">
        <button onclick="sendMessage('input1', 'chat1')">Wyślij</button>
    </div>
    
    <div class="chat-box">
        <h3>Czat 2</h3>
        <div class="messages" id="chat2"></div>
        <input type="text" id="input2" placeholder="Wpisz wiadomość...">
        <button onclick="sendMessage('input2', 'chat2')">Wyślij</button>
    </div>
</div>
