@page "/chat"
@rendermode InteractiveServer
@inject YourUserNamespace.User user
@using ClientCommunication
@using System.Text.Json
@inject NavigationManager Navigation
@using ChatMessageNamespace


<PageTitle>Chat</PageTitle>

@if (!user.CheckUserName()){
    Navigation.NavigateTo("/login");
}

@code {
    private string chat_input { get; set; } = "";
    private System.Net.IPAddress ipaddress;
    private string User { get; set; } = "";
    private string ServerResponse = "";
    private List<ChatMessage> Messages = new();

    private async Task SendMessageToServer()
    {
        user.SetUserName(User);
        Console.WriteLine(chat_input);
        ServerResponse = await ClientSocket.SendMessage("", 1234, User, chat_input);
        /*
        if (!string.IsNullOrWhiteSpace(ServerResponse))
        {
            var message = JsonSerializer.Deserialize<ChatMessage>(ServerResponse);
        }
        */
    }
    
}

<link rel="stylesheet" href="css.css">
<div class="chat-container">
    <div class="chat-box">
        <h3>Czat 1</h3>
        <div class="messages" id="chat1"></div>
        <input @bind="chat_input" type="text" id="input1" placeholder="Wpisz wiadomość...">
        <button @onclick="SendMessageToServer">Wyślij</button>
    </div>

</div>
