@page "/"

<head>
  <meta charset="UTF-8">
</head>


<PageTitle>Home</PageTitle>

<h1>Witaj, w najlepszej apce do czatowania!!!!!!</h1>

KLiknij w zakładke i sprawdz sam!<br>
<br>
PS. Na pewno twoje dane są bezpieczne ;*
