@page "/login"
@rendermode InteractiveServer

<h1>Login Page</h1>

<form class="pure-form" @onsubmit="Send">
    <input @bind="LoginInput" type="text" placeholder="Login" />
    <input @bind="PasswordInput" type="password" placeholder="Password" />
    <button type="submit"><i class="fa fa-chevron-circle-right"></i> Zaloguj</button>
</form>

@code {
    private string LoginInput { get; set; }
    private string PasswordInput { get; set; }
    private string Message { get; set; }

    private void Send()
    {
        @*var result = await AuthService.ValidateCredentialsAsync(LoginInput, PasswordInput);
        Message = result ? "Zalogowano poprawnie" : "Błędny login lub hasło";
        Console.WriteLine($"Wynik logowania: {result}");*@
        Console.WriteLine($"Login: {LoginInput}, Password: {PasswordInput}");
    }
}